@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


/* Common Styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.common-width{
    margin: 0px 120px;
}


/* Navbar Styles */

header{
    background-color: rgba(255, 144, 14, 0.1);;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

.nav-links ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}


/* Section One Styles */

.header-info{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-weight: 700;
    font-size: 64px;
    margin-top: 102px;
    margin-bottom: 32px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.header-img{
    width: 100%;
    margin-bottom: 45px;
}


/* Section Two Styles */

.sec-two-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 45px;
    gap: 73px;
}

.sec-two-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.sec-two-text h3{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.sec-two-text span{
    font-weight: 700;
}

.orange{
    color: #FF900E;
}


/* Section Three Styles */

.sec-three{
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
}

.sec-three-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.sec-three-title{
    border-left: 5px solid #FF900E;
}

.sec-three-title h3{
    font-weight: 700;
    font-size: 45px;
    padding: 4px 24px;
}

.sec-three-common{
    padding: 30px 30px;
    box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.633);
}

.sec-three-img img{
    width: 100%;
    margin-left: 92px;
}

.experience{
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    left: 46px;
    bottom: 77px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 45px 42px;
    border-radius: 8px;
}

.experience h2{
    font-weight: 700;
    font-size: 65px;
}

.experience h3{
    font-weight: 500;
    font-size: 25px;
}


/* Section Four Styles */

.sec-four{
    margin-top: 130px;
    margin-bottom: 180px;
}

.sec-four-info h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.sec-four-objects{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec-four-common{
    margin-top: 100px;
    width: 120px;
    height: 120px;
    text-align: center;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.sec-four-common h4{
    width: 600;
    font-size: 45px;
}


/* Section Five Styles */

.sec-five-info{
    text-align: center;
}

.sec-five-info h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.sec-five-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
}



/* Responsive Styles */

@media only screen and (max-width: 688px) {

    .common-width{
        margin: 0;
        padding: 0;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .sec-two-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sec-two-images{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .sec-three{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .sec-three-img img{
        width: 100%;
        margin-left: 0;
    }

    .sec-four-objects {
        flex-direction: column;
    }

    .sec-five-img{
        flex-direction: column;
        gap: 50px;
    }

}

