@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


/* Common Styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.common-width{
    margin: 0px 120px;
}


/* Navbar Styles */

header{
    background-color: rgba(255, 144, 14, 0.1);;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

.nav-links ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}


/* Section One Styles */

.header-info{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-weight: 700;
    font-size: 64px;
    margin-top: 102px;
    margin-bottom: 32px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.header-img{
    width: 100%;
    margin-bottom: 45px;
}


/* Section Two Styles */

.sec-two-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 73px;
}

.sec-two-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.sec-two-text h3{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.sec-two-text span{
    font-weight: 700;
}

.orange{
    color: #FF900E;
}


/* Responsive Styles */

@media only screen and (max-width: 660px) {

    .common-width{
        margin: 0;
        padding: 0;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


}

